.flex1 {
  background-color: #ff2020;
}

.flex2 {
  background-color: #0c8048;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  font-weight: bolder;
}

.data1 {
  background-color: #ff2020;
}

.data2 {
  background-color: #0c8048;
}
