<div class="sub-container-2">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <p *ngIf="loginStateService.role==='user'">USER CHANGE PASSWORD</p>
        <p *ngIf="loginStateService.role==='organization'">ORGANIZATION CHANGE PASSWORD</p>
        <p *ngIf="loginStateService.role==='employee'">EMPLOYEE CHANGE PASSWORD</p>
        <p *ngIf="loginStateService.role==='admin'">ADMIN CHANGE PASSWORD</p>
        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="currentPassword" type="password">
                <mat-error *ngIf="form.currentPassword.errors?.required">password is reqiured</mat-error>
                <mat-error *ngIf="form.currentPassword.errors?.minlength">password must have atleast 6
                    characters</mat-error>
                <mat-error *ngIf="form.currentPassword.errors?.maxlength">password must have less than 40
                    characters</mat-error>
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" type="password">
                <mat-error *ngIf="form.newPassword.errors?.required">password is reqiured</mat-error>
                <mat-error *ngIf="form.newPassword.errors?.minlength">password must have atleast 6
                    characters</mat-error>
                <mat-error *ngIf="form.newPassword.errors?.maxlength">password must have less than 40
                    characters</mat-error>
            </mat-form-field>
        </div>
        <div class="field-container">
            <mat-form-field appearance="fill" color="accent">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="newConfPassword" type="password" pattern="{{form.newPassword.value}}">
                <mat-error *ngIf="form.newConfPassword.errors?.required">password is reqiured</mat-error>
                <mat-error *ngIf="form.newConfPassword.errors?.minlength">password must have atleast 6
                    characters</mat-error>
                <mat-error *ngIf="form.newConfPassword.errors?.maxlength">password must have less than 40
                    characters</mat-error>
                <mat-error *ngIf="form.newConfPassword.errors?.pattern">confirm password does not match
                </mat-error>
            </mat-form-field>
        </div>
        <div class="field-container">
            <button mat-raised-button color="accent" type="submit">Change Password Now!</button>
        </div>
    </form>
</div>