.sub-container-2 {
  height: 100%;
  padding: 50px;
  background-color: #1b1d1f;
  text-align: center;
}

.sub-container-2 form img {
  height: 80px;
  width: 80px;
  margin: 0 0 10px 0;
}

.sub-container-2 form p {
  font-size: 30px;
  letter-spacing: 3px;
  font-family: Agency Fb;
  color: white;
}

.mat-button-container {
  cursor: pointer;
}

.mat-form-field {
  margin: 10px auto;
  display: blocks;
  width: 400px;
}

.mat-form-field input {
  color: white;
}

.mat-raised-button {
  margin: 30px auto;
  display: block;
  width: 400px;
}
