<div class="sub-conatiner">
    <div class="calendar-container">
        <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="Events"
            (eventClick)="eventClick($event)">
        </full-calendar>
    </div>
    <div class="event-details">
        <h2>Event details</h2>
        <div *ngIf="eventDetail">
            <p><span class="field">Title</span><br>
                {{eventDetail.name}}
            </p>
            <p><span class="field">Starting Date</span><br>
                {{eventDetail.start}}
            </p>
            <p><span class="field">Ending Date</span><br>
                {{eventDetail.end}}
            </p>
            <p><span class="field">Description</span><br>
                {{eventDetail.description}}
            </p>
        </div>
        <div *ngIf="!eventDetail">
            <span class="field">Select an event</span>
        </div>
    </div>
</div>