<div class="header">
    <span class="items">
        <img class="logo" src="assets/img/logo.png" alt="helping hands">
    </span>
    <span class="items">
        <span *ngFor="let menu of menuItems[loginStateService.role]">
            <span *ngIf="loginStateService.getLoginState()!=null ? true : false">
                <a *ngFor="let link of menu.active" routerLink="{{link.routeLink}}"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeLink">{{link.label}}</a>
            </span>
            <span *ngIf="loginStateService.getLoginState()==null ? true : false">
                <a *ngFor="let link of menu.inactive" routerLink="{{link.routeLink}}"
                    [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeLink">{{link.label}}</a>
            </span>
        </span>
        <span class="userlogo" *ngIf="loginStateService.getLoginState()!=null ? true : false" [matMenuTriggerFor]="matMenu">
            <img class="userlogoimg" *ngIf="!isRoleAdmin()" src="assets/img/{{loginStateService.role}}.png" alt="username">
            <span *ngIf="isRoleAdmin()" class="admin-title">{{loginStateService.getLoginState()?.username}}</span>
        </span>
    </span>
</div>
<div class="header-padding">
</div>

<mat-menu #matMenu>
    <span mat-menu-item *ngIf="!isRoleAdmin()" (click)="profile()">{{loginStateService.getLoginState()?.username}}</span>
    <span mat-menu-item (click)="changePassword()">change password</span>
    <span mat-menu-item (click)="logout()">logout</span>
</mat-menu>