.header {
  padding: 10px;
  /* background-image: linear-gradient(#16191c, #414141); */
  width: 100%;
  background-color: #16191c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-padding{
  height: 90px;
}
.logo {
  height: 70px;
  width: 90px;
}

.items a {
  color: white;
  padding: 0px;
  padding-right: 15px;
  text-decoration: none;
}

.items a:hover {
  color: #19ce78;
}

.activeLink {
  color: #19ce78 !important;
  text-decoration: underline;
}

.userlogo {
  cursor: pointer;
  padding-right: 10px;
}

.userlogoimg {
  width: 20px;
  height: 20px;
}

.admin-title{
  color: gray;
}