<div class="header">
    <span class="items">
        <img class="logo" src="assets/img/logo.png" alt="helping hands">
    </span>
    <span class="items">
        <a routerLink="/user" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeLink">home</a>
        <a routerLink="/user/login" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeLink" >login</a>
        <a routerLink="/user/register" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="activeLink" >signup</a>
    </span>
</div>