<div id="carouselExampleIndicators" class="carousel slide container-fluid" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active"
            style="background-image: url('assets/img/slider1.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Spread Happiness!</h2>
                <p class="lead">Spread happiness to unfortunate ones.</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('assets/img/slider2.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Volunter for good!</h2>
                <p class="lead">Take part in social activities.</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('assets/img/slider3.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">Education</h2>
                <p class="lead">Everyone deserves the education</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>