<div class="footer-container">
    <div class="container-1">
        <div class="first">
            <span class="heading">About Us</span>
            <br>
            <span class="content">
                We help in simplifying the whole process of <br>
                donating to the needy while maintaining <br>
                transparency between NGO and the donors.
            </span>
        </div>
        <div class="last">
            <span class="heading">Usefull Links</span>
            <br>
            <span class="content">
                <a routerLink="/organization">Organization</a>
                <a routerLink="/employee">Employee</a>
                <a routerLink="/admin">Admin</a>
                <a routerLink="/user">User</a>
            </span>
        </div>
    </div>
    <div class="container-2">
        All copyright reserved to HelpingHand &copy; 2020
    </div>
</div>